@tailwind base; 
@tailwind components; 
@tailwind utilities; 


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+NSW+ACT+Foundation:wght@500&family=Fasthand&family=Lato:wght@300&family=Lora:ital@0;1&family=MonteCarlo&family=Montserrat:ital,wght@0,200;0,300;0,600;0,700;0,900;1,100;1,200;1,400&family=Moon+Dance&family=Open+Sans:ital,wght@0,700;1,500&family=Quicksand:wght@300&family=Raleway:wght@100&family=Roboto+Mono&family=Roboto:ital,wght@0,100;1,300&family=Sassy+Frass&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');

  
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+NSW+ACT+Foundation:wght@500&family=Fasthand&family=Lato:wght@300&family=Lora:ital@0;1&family=MonteCarlo&family=Montserrat:ital,wght@0,200;0,300;0,600;0,700;0,900;1,100;1,200;1,400&family=Moon+Dance&family=Open+Sans:ital,wght@0,700;1,500&family=Quicksand:wght@300&family=Raleway:wght@100&family=Roboto+Mono&family=Roboto:ital,wght@0,100;1,300&family=Sassy+Frass&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');

:root {
  --primary: #ff0a54; 
  --secondary: #ff5c8a; 
  --default: #ffffff;
}

@layer base {
  h1 {
    @apply text-xl font-bold font-[Dancing]
    }
  h2 {
    @apply text-xl md:text-2xl
  }
  body {
    @apply font-[Montserrat]
    }
  li {
    @apply p-2
  }

  button {
    @apply bg-gradient-to-r from-[var(--primary)] to-[var(--secondary)] text-[#fff] hover:text-gray-300
  }

  .icon {
    @apply text-2xl cursor-pointer hover:animate-pulse
  }
 

  }